body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: auto;
}

header {
    border-bottom: 1px solid seashell;
    height: 69px;
    position: fixed;
}

nav {
    text-decoration: underline;
    display: inline;
    width: 100%;
}

nav li {
    display: inline;
    padding: 5px;
}

.logo {
    float: left;
    padding-left: 10px;
    height: 50px;
}

#hero {
    height: 700px;
    background-image: url(/resources/images/img-mission-background.jpeg);
    padding-top: 70px;
}


